@charset "UTF-8";
@import url("reset.css");
/* s : 아이콘 공통 */
/* s : 폰트 선언 */
@font-face {
  font-family: 'notoSansLight';
  font-style: normal;
  src: url("css/font/NotoSansKR-Light.woff") format("woff"), url("css/font/NotoSansKR-Light.eot");
}

@font-face {
  font-family: 'notoSansRegular';
  font-style: normal;
  src: url("css/font/NotoSansKR-Regular.woff") format("woff"), url("css/font/NotoSansKR-Regular.eot");
}

@font-face {
  font-family: 'notoSansMedium';
  font-style: normal;
  src: url("css/font/NotoSansKR-Medium.woff") format("woff"), url("css/font/NotoSansKR-Medium.eot");
}

@font-face {
  font-family: 'notoSansBold';
  font-style: normal;
  src: url("css/font/NotoSansKR-Bold.woff") format("woff"), url("css/font/NotoSansKR-Bold.eot");
}

/* e : 폰트 선언 */
.tal {
  text-align: left;
}

html {
  font-size: 1vw;
  width: 100%;
  height: 100%;
  font-family: "notoSansRegular";
  color: #444;
}

html body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html #root {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-top: 4.6875rem;
  background-color: #f4f4f4;
}

h2 {
  position: fixed;
  top: 2.60417rem;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 2.08333rem;
  line-height: 2.08333rem;
  padding: 0 3.125rem;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><g><path d="M256,0C161.896,0,85.333,76.563,85.333,170.667c0,28.25,7.063,56.26,20.49,81.104L246.667,506.5    c1.875,3.396,5.448,5.5,9.333,5.5s7.458-2.104,9.333-5.5l140.896-254.813c13.375-24.76,20.438-52.771,20.438-81.021    C426.667,76.563,350.104,0,256,0z M256,256c-47.052,0-85.333-38.281-85.333-85.333c0-47.052,38.281-85.333,85.333-85.333    s85.333,38.281,85.333,85.333C341.333,217.719,303.052,256,256,256z" fill="%2341d6c3"/></g></svg>');
  background-repeat: no-repeat;
  background-size: 1.04167rem;
  background-position: center left 1.5625rem;
  background-color: #5596e6;
  color: #f5f5f5;
  font-family: "notoSansMedium";
  font-size: 0.72917rem;
}

button {
  padding: 0.36458rem 0.72917rem;
  border: 0;
  font-size: 0.72917rem;
  cursor: pointer;
}

button.btn_color_01 {
  background: #8c9ba5;
  color: #f5f5f5;
}

input {
  background: transparent;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  display: table;
  width: 100%;
  height: 2.60417rem;
  line-height: 2.60417rem;
  background: #3d70b2;
  padding: 0 1.5625rem;
  z-index: 9999;
}

.header h1 {
  display: table-cell;
}

.header h1 a {
  font-family: "notoSansBold";
  font-size: 1.04167rem;
  color: #f5f5f5;
}

.header .menus {
  display: table-cell;
  text-align: right;
}

.header .menus input {
  display: none;
}

.header .menus input:checked ~ label i:nth-child(1) {
  top: 0.46875rem;
  width: 0%;
  left: 50%;
}

.header .menus input:checked ~ label i:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header .menus input:checked ~ label i:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header .menus input:checked ~ label i:nth-child(4) {
  top: 0.46875rem;
  width: 0%;
  left: 50%;
}

.header .menus input:checked ~ .nav {
  right: 0;
}

.header .menus input:checked ~ .mask {
  display: inline-block;
}

.header .menus .ham {
  display: inline-block;
  width: 1.5625rem;
  height: 1.17188rem;
  position: relative;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  vertical-align: sub;
}

.header .menus .ham i {
  display: block;
  position: absolute;
  height: 0.20833rem;
  width: 100%;
  background: #f5f5f5;
  border-radius: 0.20833rem;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.header .menus .ham i:nth-child(1) {
  top: 0;
}

.header .menus .ham i:nth-child(2), .header .menus .ham i:nth-child(3) {
  top: 0.46875rem;
}

.header .menus .ham i:nth-child(4) {
  top: 0.9375rem;
}

.mask {
  display: none;
  position: fixed;
  left: 0;
  top: 2.60417rem;
  width: 100%;
  height: calc(100% - (50rem / 19.20));
  z-index: 998;
  background: rgba(0, 0, 0, 0.5);
}

ul.nav {
  position: fixed;
  right: calc(-1 * (200rem / 19.20));
  bottom: 0;
  width: 10.41667rem;
  height: calc(100% - (50rem / 19.20));
  padding: 1.5625rem 0;
  background: #8c9ba5;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  line-height: 0;
  z-index: 999;
}

ul.nav li {
  width: 100%;
}

ul.nav li a {
  display: inline-block;
  width: 100%;
  padding: 1.5625rem;
  color: #fff;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  font-family: "notoSansBold";
  font-size: 0.83333rem;
}

ul.nav li a:hover {
  color: #DE5867;
}

ul.nav li a.on {
  color: #41d6c3;
}

ul.nav_second {
  width: 100%;
  height: 2.08333rem;
  line-height: 2.08333rem;
  font-size: 0.72917rem;
  font-family: "notoSansMedium";
  border-bottom: 0.05208rem solid #3d70b2;
}

ul.nav_second li {
  display: inline-block;
  margin-right: 1.5625rem;
}

ul.nav_second li a {
  width: 5.20833rem;
  border: 0.05208rem solid #3d70b2;
  padding: 0.26042rem 0.52083rem;
  color: #8c9ba5;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.wrapper_contents {
  padding: 1.5625rem;
  font-family: "notoSansRegular";
  font-size: 0.72917rem;
}

h3 {
  font-family: "notoSansBold";
  font-size: 0.83333rem;
  margin-bottom: 0.52083rem;
}

@-webkit-keyframes bounce {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.table_wrapper {
  display: inline-block;
  width: 100%;
  overflow: auto;
  position: relative;
  margin-bottom: 1.04167rem;
}

.table_wrapper .notice_table_scroll {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "notoSansMedium";
  font-size: 0.625rem;
  color: #f5f5f5;
  z-index: 1;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.table_wrapper .notice_table_scroll::before, .table_wrapper .notice_table_scroll::after {
  content: "";
  display: inline-block;
  width: 0.83333rem;
  height: 0.83333rem;
  background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 140 140" width="24" height="24" xmlns="http://www.w3.org/2000/svg"><g><path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z" stroke="%23fff" stroke-linejoin="round" stroke-width="6" fill="%23fff"/></g></svg>');
  background-size: 100%;
  vertical-align: text-bottom;
}

.table_wrapper .notice_table_scroll::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-right: 0.52083rem;
}

.table_wrapper .notice_table_scroll::after {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-left: 0.52083rem;
}

.table_type_01 {
  min-width: 100%;
  table-layout: auto;
  text-align: center;
  font-family: "notoSansRegular";
  position: relative;
}

.table_type_01 .notice_bg {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  color: #f5f5f5;
  opacity: 1;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.table_type_01 tr + tr {
  border-top: 0.05208rem solid #ddd;
}

.table_type_01 tr th, .table_type_01 tr td {
  padding: 0.52083rem;
  font-size: 0.625rem;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  line-height: 1.5;
}

.table_type_01 thead tr th {
  background: #999;
  color: #f5f5f5;
  font-family: "notoSansMedium";
}

.table_type_01 tbody tr td ul li {
  text-align: left;
}

.table_type_01 tbody tr td ul li::before {
  content: "\2022";
  margin-right: 0.41667rem;
}

.wrapper_counter span {
  height: 1.5625rem;
  line-height: 1.5625rem;
  padding: 0 1.04167rem;
}

.wrapper_counter button {
  width: 1.5625rem;
  height: 1.5625rem;
  background: #8c9ba5;
  border: 0;
  color: #f5f5f5;
  border-radius: 0.15625rem;
  cursor: pointer;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.wrapper_counter button:hover {
  background: #3F7CA5;
}

.userDragNone {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.shapeStore, #shapeArea {
  display: inline-block;
  height: 31.25rem;
  vertical-align: middle;
}

#shapeArea {
  position: relative;
  width: calc(100% - calc(500rem / 19.20));
  border: 0.05208rem solid #bbb;
}

#shapeArea * {
  position: absolute;
  cursor: pointer;
}

.shapeStore {
  width: 26.04167rem;
  padding-right: 1.5625rem;
}

.shapeStore .shapeSet + .shapeSet {
  margin-top: 0.52083rem;
}

.shapeStore .shapeSet label, .shapeStore .shapeSet span {
  display: inline-block;
  width: 5.20833rem;
  height: 1.66667rem;
  line-height: 1.66667rem;
  vertical-align: middle;
}

.shapeStore .shapeSet input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: calc(100% - (200rem / 19.20));
  height: 1.66667rem;
  border: 0.05208rem solid #bbb;
  font-size: 0.72917rem;
  vertical-align: middle;
}

.shapeStore .shapeSet input[type=number] {
  width: calc(100% - (100rem / 19.20));
  padding: 0 0.52083rem;
}

.shapeStore .shapeCreateBtns {
  margin-top: 0.52083rem;
}

.shapeStore .shapeCreateBtns button {
  width: calc(100% / 3 - (8rem / 19.20));
  font-size: 0.625rem;
}

.shapeStore .shapeCreateBtns button + button {
  margin-left: 0.625rem;
}

.shapeStore ul.shapeInfo {
  margin-top: 0.52083rem;
}

.shapeStore ul.shapeInfo li {
  line-height: 1.2;
}

.shapeStore ul.shapeInfo li + li {
  margin-top: 0.52083rem;
}

#shapeArea {
  margin: 0.52083rem 0;
  overflow: hidden;
}

#shapeArea span {
  display: inline-block;
}

#shapeArea .focus {
  outline: 0.10417rem dashed rgba(255, 145, 0, 0.5);
}

#tooltip {
  position: fixed;
  display: inline-block;
  padding: 0.52083rem;
  background: rgba(0, 0, 0, 0.5);
  color: #f5f5f5;
  line-height: 1.5;
}

@media all and (max-width: 700px) {
  html {
    font-size: 4vw;
  }
  .shapeStore, #shapeArea {
    width: 100%;
    padding: 0;
  }
  .shapeStore {
    height: auto;
  }
  #shapeArea {
    height: 15.625rem;
  }
}
/*# sourceMappingURL=index.css.map */